html, body {
   height: 100%;
}
.flexParent{
  width:100%;
  height:100%;
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration:none;
}
.menu-item{
  color:white;
  text-align:center;
  padding-top:1.4em;
  margin:0 auto;
}
section{
  position:absolute;
  width:85%
}
#center{
/*    max-height:30em;
    max-width:25em;
    margin: -.2em auto;*/
}

.image-cropper {
    margin:auto auto;
    width:50vw;
    max-width: 21em;
    height:50vw;
    max-height: 21em;
    
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    perspective: 800px;
}

img {
    display: inline;
    margin: 0 auto;
    
}
.front img{
  width: 100%;
  overflow: hidden;
  margin-top: -5%;
    /*padding-top:13%;*/
}
.back img{
  min-height:200px;
  height:2.5em;
  width:auto;
  /*padding-top:.15em;*/
}
.card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    //-webkit-transform-origin: 50% 50%;
}
.card div {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 140px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card .front {
  background:black;
}
.card .back {
    background: white;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
section p{
  padding-top:5%;
  padding-bottom:30%;
}
.image-cropper2 {
    width: 10em;
    height: 10em;
    z-index:2;
    position:absolute;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background:gray;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    perspective: 800px;
}
/**
 * Position icons into circle (SO)
 * http://stackoverflow.com/q/12813573/1397351 
 */
.circle-container {
	position: relative;
	max-width: 34em;
	max-height: 34em;
	width:90vw;
	height:90vw;
	/*padding: 5vw; = 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
	border-radius: 50%;
  background-color:#E8EAEA;
	margin: 0em auto 0;
  top: 10%;
}
.circle-container a {
	display: block;
	overflow: hidden;
	position: absolute;
	top: 50%; left: 50%;
	width: 4em; height: 4em;
	margin: -2em; /* 2em = 4em/2 */ /* half the width */
}
.circle-container img {display: block; height:100%; }
.deg0 { transform: rotate(330deg) translate(35vw) rotate(-330deg);
        } /* 12em = half the width of the wrapper */
.deg45 { transform: rotate(10deg) translate(35vw) rotate(-10deg); }
.deg135 { transform: rotate(170deg) translate(35vw) rotate(-170deg); }
.deg180 { transform: rotate(30deg) translate(-35vw) rotate(-30deg); }
.deg225 { transform: rotate(250deg) translate(35vw) rotate(-250deg); }
.deg315 { transform: rotate(290deg) translate(35vw) rotate(-290deg); }

/*large screen widths*/
.degL0 { transform: rotate(330deg) translate(14em) rotate(-330deg);
        } /* 12em = half the width of the wrapper */
.degL45 { transform: rotate(10deg) translate(14em) rotate(-10deg); }
.degL135 { transform: rotate(170deg) translate(14em) rotate(-170deg); }
.degL180 { transform: rotate(30deg) translate(-14em) rotate(-30deg); }
.degL225 { transform: rotate(250deg) translate(14em) rotate(-250deg); }
.degL315 { transform: rotate(290deg) translate(14em) rotate(-290deg); }

